# Ignore build artifacts.
/Build
tags/
.DS_Store
*.pyc
*.bak
BuildConfig.conf

/Common/
/MU_BASECORE/

# Ignore unused UDK PKGs.
/BaseTools/
/Conf/
/CryptoPkg/
/DynamicTablesPkg/
/EmbeddedPkg/
/EmulatorPkg/
/FatPkg/
/FmpDevicePkg/
/IntelFsp2Pkg/
/IntelFsp2WrapperPkg/
/MdeModulePkg/
/MdePkg/
/NetworkPkg/
/OvmfPkg/
/PcAtChipsetPkg/
/SecurityPkg/
/ShellPkg/
/SignedCapsulePkg/
/SourceLevelDebugPkg/
/StandaloneMmPkg/
/UefiCpuPkg/
/UefiPayloadPkg/
